.logo img {
    height: 100px;
}

.nav-item {
    border-left: 1px solid #333;
    padding: 0 20px;
}

.nav-item:first-child {
    border-left: 0;
}

.nav-item:hover {
    opacity: .5;
}

.nav-link {
    text-transform: uppercase;
    color: #333 !important;
    transition: .5s;
}

.carousel-item img {
    height: 700px;
}

@media(max-width:1024px) {
    .carousel-item img {
        height: 400px;
    }

    .coluna img {
        margin: 10px 0;
    }
}

@media(max-width:500px) {
    .carousel-item img {
        height: 300px;
        object-fit: cover;
    }
}

.card img {
    height: 200px;
}

.card p {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 4px;
    font-size: 14px;
    margin: 0;
}

.subtitulo {
    background-color: #c4c4c4;
    text-align: center;
    padding: 35px 0;
}

.banner-delivery {
    background-color: #a7cf15;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-delivery h4 {
    font-weight: bold;
    font-size: 22px;
}

.banner-delivery h2 {
    font-weight: bold;
    font-size: 36px;
    margin-top: 20px;
}

.fale-conosco {
    background-color: #333;
    padding: 40px 0;
}

.form-control {
    border-radius: 0;
}

.botao {
    background-color: #2e2e2e;
    color: #fff;
}

footer {
    background-color: rgb(160, 160, 160);
    display: flex;
    justify-content: center;
}

footer p {
    font-size: 13px;
    padding: 15px 0 5px 0;
}

.iconcima {
    padding-right: 10px;
}

.iconbaixo {
    font-size: 30px;
    color: white;
}

/* a partir daq é banho e tosa */

.titulo-pagina {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    width: 30em;
    height: 55px;
    margin-top: 15px;

}

.titulo-pagina h2 {
    font-size: 22px;
    font-weight: bold;
}

.botao-saiba {
    background-color: #333;
    color: #fff;
    padding: 10px 25px;
    border-radius: 10px;
    width: 13em;
}

.secao-petcare {
    background-color: #e8e8e8;
    padding: 50px 0;
    text-align: center;
}

.secao-petcare h2 {
    font-weight: bold;
    font-size: 3rem;
}

.descricaoBanho {
    font-size: 15px;
}

.descricaoPetcare {
    font-size: 15px;
}

.descricaoPetcare button {
    width: 17em;

}

/* a partir daq é pro adestramento */
.banner-adestramento img {
    height: 100%;
}

.fileiraCao {
    padding: 2em 12em;
}

.fileiraCao img {
    height: 130px;
    object-fit: cover;
    width: 100%;
}

.accordion-button {
    background-color: #f0f0f0;
    color: #333;
    padding: 8px 15px;
}

.accordion-button:not(.collapsed) {
    background-color: #666;
    color: #fff;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-item {
    border-radius: 0 !important;
}

.accordion-button {
    border-radius: 0 !important;
}

.accordion-body {
    padding-bottom: 60px;
}

.accordion-button {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 10px;
}

.accordion-button::after {
    margin: 0;
}